# Web scraping 
for the income & house - prices related data

In [1]:
#link used 
url = 'https://financieel.infonu.nl/geld/173129-huizenmarkt-van-amsterdam-prijzen-per-stadsdeel-en-per-m.html#amsterdam-centrum-oa-grachtengordel-en-jordaan'

In [2]:
#libraries imported 
import requests
from bs4 import BeautifulSoup
import pandas as pd
import lxml.html as lh

In [3]:
#beautiful soup of the url
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#print (soup)

In [4]:
#get table 1: 'Voor Centrum, West, Nieuw-West en Zuid'
table1= soup.find_all('table',{'class':'heel'})[0]
#strip rows 
rows = table.find_all('tr')
rows = [row.text.strip().split("\n") for row in rows]
# check if rows look good for automatic placement of columns with 
rows
#unfortunately, no - arguments are not divided - need to run the below checks:

NameError: name 'table' is not defined

In [3]:
#Checks 

#Creating a handle for  the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]
#Output is: [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 7]
#This means that the rows are different. I will print them to see if we can just ommit loc. 12
rows
# No - the problem is that the name of the column is made from 3 parts and understood as 3 arguments

NameError: name 'url' is not defined

In [46]:
# # # specify dataframe
# colnames = rows[0]
# data = rows[1:]
# df = pd.DataFrame(data, columns=colnames)
# df

                  Amsterdam   Oost   Noord   Zuidoost
0                             Bevolkingssamenstelling
1     Leeftijdsopbouw   0- 4 jaar   6%   6%   6%   6%
2                   5-19 jaar   14%   16%   17%   18%
3                  20-34 jaar   28%   28%   21%   24%
4                  35-49 jaar   22%   24%   21%   20%
5                  50-64 jaar   18%   17%   19%   21%
6                    65 jaar +   12%   9%   16%   11%
7   Etnische samenstelling   Surinamers   8%   7% ...
8                     Antillianen   1%   1%   1%   5%
9                          Turken   5%   4%   7%   1%
10                   Marokkanen   9%   10%   10%   2%
11  overige niet-westerse allochtonen   11%   9%  ...
12  totaal niet-westerse allochtonen   35%   32%  ...
13       westerse allochtonen   16%   16%   11%   10%
14                autochtonen   49%   52%   51%   26%
15                                FinanciÃ«le gegevens
16  Gemiddeld besteedbaar huishoudinkomen   31.400...
17      Werkloosheidspercentage   9%   7%   12%   12%
18                                 Woningmarktcijfers
19  Woningvoorraad naar aantal kamers   1 of 2 kam...
20                   3 kamers   35%   37%   33%   23%
21                   4 kamers   24%   19%   36%   37%
22           5 en meer kamers   10%   11%   10%   11%
23  Woningvoorraad naar eigendom   Eigenaar/bewone...
24         Corporatie verhuur   46%   52%   65%   60%
25        Particuliere verhuur   25%   19%   6%   12%
26  Type woning  Tussenwoning   12%   13%   15%   19%
27                     Hoekwoning   4%   6%   9%   5%
28                  2-onder-1-kap   1%   0%   6%   0%
29                     Vrijstaand   2%   2%   8%   1%
30        Appartement (=<1970)   44%   28%   27%   2%
31        Appartement (>1970)   36%   50%   35%   73%
32  Mediale verkoopprijs   Appartement (=<1970)   ...
33  Appartement (>1970)   Â 250.710   Â 291.167   ...
34  Mediale prijs per m2   Appartement (=<1970)   ...
35  Appartement (>1970)   Â 3.264   Â 3.600   Â 2....
36  Mediale looptijd (in dagen)   Appartement (=<1...
37            Appartement (>1970)   30   29   52   93

In [18]:
#get table 2: 'Voor Oost, Noord en Zuidoost'
table2 = soup.find_all('table',{'class':'heel'})[1]
#table

In [ ]:
# idea - Selenium 
#https://www.scrapehero.com/tutorial-web-scraping-hotel-prices-using-selenium-and-python/

In [ ]:
#after talking to Paolo --> suggested to use excel instead

In [4]:
pwd

'C:\\Users\\Zuzanna\\Documents\\Project_2_Amsterdam_dataptams2020\\your-project'

In [4]:
#Abandoning the above approach 
# exporting data from excel 
# # house_prices = pd.read_excel('C:\Users\Zuzanna\Documents\Project_2_Amsterdam_dataptams2020\your-project\amsterdam1.xlsx',header=3)
# meter_prices = pd.read_excel

In [10]:
#house prices 
pd.read_excel('C:\\Users\\Zuzanna\\Documents\\Project_2_Amsterdam_dataptams2020\\your-project\\data\\mediale_verkoopprijs.xlsx')

,Unnamed: 0,Amsterdam,Centrum,West,Nieuw-West,Zuid,Oost,Noord,Zuidoost
0,Appartement (=<1970),286.234,411.883,245.599,160.240,365.129,280.178,156.93,108.250
1,Appartement (>1970),250.710,317.150,335.152,220.889,354.167,291.167,157.70,124.944

In [12]:
#prices per m2
pd.read_excel('C:\\Users\\Zuzanna\\Documents\\Project_2_Amsterdam_dataptams2020\\your-project\\data\\mediale_prijsm2.xlsx')

,Unnamed: 0,Amsterdam,Centrum,West,Nieuw-West,Zuid,Oost,Noord,Zuidoost
0,Appartement (=<1970),4.215,5.380,4.341,2.252,4.518,4.444,2.128,1.425
1,Appartement (>1970),3.264,4.894,4.202,2.487,3.886,3.600,2.144,1.837